<%= render 'layouts/users_header' %>
<%= render 'layouts/users_sidebar' %>
<div class = "idea-header">
    <div class = "aii_idea">
        <%= image_tag "note3.png" , class: "mame2" , height: "30px", width: "30px" %>
        みんなのアイデア
    </div>

    <div class = "idea_count_new">
        <%= image_tag "time.png" , class: "comment" , height: "16px", width: "16px" %>
	    <%= link_to "新着順", ideas_path, class: "idea-new-sort" %>
	</div>

    <div class = "idea_count_like">
   	    <%= image_tag "gray-heart.png" , class: "heart1" , height: "16px", width: "16px" %>
	    <%= link_to "人気順", class: "idea-like-sort", controller: "ideas", action: "index", order: "like_count" %>
	</div>
	<a class = "facebook" href = "https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/ideas">
		<%= image_tag "facebook.png" , class: "comment" , height: "36px", width: "36px" %></a>
	<a class = "twitter"  href= "http://twitter.com/share?url=http://localhost:3000/ideas">
		<%= image_tag "twitter.png" , class: "heart1" , height: "36px", width: "36px" %>
	</a>
	<a class = "line"  href = "http://line.me/R/msq/text/?http://localhost:3000/ideas">
		<%= image_tag "line.png" , class: "heart1" , height: "36px", width: "36px" %>
	</a>
	<div class = "line-it-button" data-lang="ja" dats-type="share-a" data-url="http://localhost:3000/ideas" style="display: none;"></div>
	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div>

<div class = "idea-box">
	<% @ideas.each do |idea| %>
	<div class = "ideas">

		<div class="idea-user-body">
			<a href="/users/<%= idea.user_id %>">
			<%= attachment_image_tag idea.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "img-circle" %>
			<div class = "ideas_user_name">
			<%= idea.user.user_name %></div></a>
			<div class = "idea_favorites_count">
			<%= image_tag "heart1.png" , class: "heart1" , height: "12px", width: "12px" %>
			<%= idea.idea_favorites.count %>いいね</div>
			<div class = "idea_comments_count">
				<%= image_tag "comment.png" , class: "comment" , height: "12px", width: "12px" %>
				<%= idea.idea_comments.count %>件</div>
		    <div class = "ideas_date">
		    	<%= image_tag "time.png" , class: "comment" , height: "12px", width: "12px" %>
		    	<%= idea.created_at.strftime('%m月%d日') %></div>
		</div>

        <div class = "Ideas" >
		<div class = "idea_body">
			<a style = "text-decoration: none;" href = "/ideas/<%= idea.id %>">
			<%= idea.idea_title %></a><br>
			<div class = "idea_text">
			<%= text_url_to_link(h(idea.idea_text)).html_safe %>
		    </div>
		</div>
		<div class = "workidea" style= "color: #888;">
			 <%= image_tag "pc.png", height: "14px", width: "14px" %>
		     制作されたサービス<%= idea.works.count %>件</div>
		<div class = "idea_favorite" id="idea_favorite_<%=idea.id %>">
				<%= render "idea_favorites/idea_favorites", idea: idea %>
			</div>
        </div>
	</div>
	<% end %>
</div>

<%= render 'layouts/users_footer' %>