<%= render 'layouts/users_header' %>
<%= render 'layouts/users_sidebar' %>

<div class = "ideashow-header">
　<div class = "IdeaNumber">
    <%= image_tag "/images/mame.png" , class: "i-dea" , height: "25px", width: "27px" %>アイデア<%= @idea.id %>
    </div>
    <a class = "IdeasBack" href = "/ideas">
      <%= image_tag "/images/back.png" , class: "idea_comment_img" , height: "20px", width: "20px" %>アイデア一覧に戻る
    </a>
</div>

<div class = "idea-show-body">

  <div class = "Idea-box">
		<div class = "Idea-User">
		<a href = "/users/<%= @idea.user.id %>">
           <%= attachment_image_tag @idea.user, :profile_image, :fill, 110, 110, format: 'jpeg',class: "Idea-Profile-img img-circle pull-left", fallback: "no_image.jpg" %></a>
           <div class = "Idea-User-Name">
           <%= @idea.user.user_name %></div>

            <div class = "idea_favorite_count">
                <%= image_tag "/images/heart1.png" , class: "idea_heart" , height: "21px", width: "21px" %>
			    <%= @idea.idea_favorites.count %>いいね</div>
			<div class = "idea_comment_count">
				<%= image_tag "/images/comment.png" , class: "idea_comment_img" , height: "21px", width: "21px" %>
				<%= @idea.idea_comments.count %>件</div>
			<div class = "idea_date">
		    	<%= image_tag "/images/time.png" , class: "idea_time_img" , height: "21px", width: "21px" %>
		    	<%= @idea.created_at.strftime('%m月%d日') %></div>
      </div>


        <div class = "Idea-User-body">
           <div class = "IdeaTitle"><%= @idea.idea_title %></div>
           <div class = "IdeaText"><%= @idea.idea_text %></div>

           <div class = "ideafavorite"><%= render 'idea_favorites/idea_favorites', idea: @idea %></div>
           <div class = "WorkNew">
          <%= image_tag "/images/pc.png" , class: "idea_comment_img" , height: "23px", width: "23px" %>
           <%= link_to "作ってみた！" , new_idea_work_path(:idea_id => @idea.id) %></div>

          <%= form_for [@idea,@IdeaComment] do |f| %>
          <div class = "idea-comment-form">
           <%= f.text_field :idea_comment, autofocus: true,placeholder: "コメントを入力",class: "idea_comment_field" %>
           <%= f.submit "送信", class: "idea_comment_btn" %>
         </div>
          <% end %>

           <% if @idea.user.id == current_user.id %>
           <div class = "idea-destroy">
           <%= image_tag "/images/gomi.png" , height: "17px", width: "17px",class: "gomi" %>
           <%= link_to "削除" , idea_path(@idea.id) , method: :delete,"data-confirm" => "本当に削除しますか？",style: "color: #888;"%>
           </div>
           <div class = "idea-edit">
           <%= image_tag "/images/pen.png" ,height: "19px", width: "19px",class: "pen" %>
           <%= link_to "編集" , edit_idea_path(@idea.id), style: "color: #888;" %></div>
           <% end %>
        </div>
    </div>

<% if @idea.idea_comments.present? %>
<div class = "idea_comment_body">
　　 <div class = "commentcount">
      <%= image_tag "/images/comment.png" , class: "idea-comment-img" , height: "21px", width: "21px" %>
      <%= @idea.idea_comments.count %>コメント
    </div>

      <% @idea.idea_comments.each do |comment| %>
 <div class = "Idea_Comments">
　　　　<%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "CommentUserImg img-circle" %>
　　<a href = "/users/<%= comment.user_id %>" class = "CommentUserName">
       <%= comment.user.user_name %>
    </a>
    <div class = "comment-comment">
       <%= text_url_to_link(h(comment.idea_comment)).html_safe %>>
    </div>
    <div class = "comment-time">
　　　　<%= comment.created_at.strftime('%Y/%m/%d') %>
    </div>
       <% if comment.user.id == current_user.id %>
       <%= link_to "削除",idea_idea_comments_path(comment.idea.id,comment.id), method: :delete, class: "idea_comment_delete" %>
       <% end %>
  </div>
　　　　<% end %>

</div>
<% end %>

<% if @idea.works.present? %>
   <div class = "Idea-works-Text">
   <%= image_tag "pc.png" , class: "idea-comment-img" , height: "21px", width: "21px" %>
   サービス一覧
   </div>
<div class = "Idea-works">
     <% @works = @idea.works %>
     <% @works.each do |work| %>
   <div class = "idea-Works">
     <%= attachment_image_tag work.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "Idea-works-Img img-circle" %>
     <a href = "/users/<%= work.user_id %>" class = "CommentUserName"><%= work.user.user_name %>
     <a href = "/ides/<%= work.idea.id %>/works/<%= work.id %>">
      <div class = "Idea-Works-Title">
     <%= work.work_title %>
      </div>
      <div class = "Idea-Works-Content">
     <%= work.work_text %>
      </div>
     </a>
</div>
<% end %>
</div>
<% end %>

</div>
<%= render 'layouts/users_footer' %>