<% if user_signed_in? %>
  <% if @work_favorite_hash.has_value?(work.id) %>
  <div class = "like_button" id = "work-favorite-<%= work.id %>">
    <%= button_to idea_work_work_favorites_path(work.id,@work_favorite_hash.key(work.id)), class:'dislike', method: :delete, remote: true do %>
    <%= work.work_favorites.count %><%= image_tag "red-heart.png" , class: "heart1" , height: "14px", width: "13px" %>
</div>
     <% end %>
   <% else %>
   <div class = "like_button" id = "work-favorite-<%= work.id %>">
     <%= button_to idea_work_work_favorites_path(work_id: work.id, idea_id: work.idea_id), class:'like', remote: true do %>
     <%= work.work_favorites.count %><%= image_tag "heart-none.png" , class: "heart1" , height: "14px", width: "13px" %>
   </div>
   <% end %>
 <% end %>
<% else %>
  <button class="like dropdown-toggle" type="button" data-toggle="dropdown" id='dropdownMenu3' aria-haspopup="true"
 aria-expanded="true">
 <%= image_tag "heart-none.png" , class: "heart1" , height: "15px", width: "14px" %><%= work.work_favorites.count %></button>
 <ul class="dropdown-menu Userdrop" aria-labelledby="dropdownMenu3">
  <li style = "color: #777;"><a  class = "dropuser" href = "/users/sign_up">会員登録していいねしよう！</a></li>
</ul>
<% end %>
