<%= render 'layouts/users_header' %>
<%= render 'layouts/users_sidebar' %>
<div class ="new-work-body">
<div class = "Text" style = "font-size: 15px; margin-bottom: 10px;">制作したサービスを投稿しよう！</div>
<a href = "/ideas/<%= @idea.id %>" style = "font-size: 17px;">
  <%= image_tag "mame.png" , height: "20px", width: "20px" %>
<%= @idea.user.user_name %>さんのアイデア</a>
<%= form_for [@idea,@work] do |f| %>

  <div class="field">
    <div style = "font-size: 17px;">
    <%= f.label :Title %>
  </div>
    <%= f.text_field :work_title, autofocus: true,  class: "new-work-field" %>
  </div>

  <div class="field">
    <div style = "font-size: 17px;">
    <%= f.label :Content %>
  </div>
    <%= f.text_area :work_text, autofocus: true,  class: "new-work-field2" %>
  </div>

  <div class="actions">
    <%= f.submit "サービスを投稿する",  class: "new-work-btn" %>
  </div>
<% end %>
</div>

<%= render 'layouts/users_footer' %>