<%= render 'layouts/users_header' %>
<%= render 'layouts/users_sidebar' %>

<div class = "worksshow-header">
　<div class = "WorkNumber">
    <%= image_tag "/images/pc.png" , class: "pcpc" , height: "26px", width: "26px" %>サービス<%= @work.id %>
    </div>
    <a class = "WorksBack" href = "/works">
      <%= image_tag "/images/back.png" , class: "idea_comment_img" , height: "20px", width: "20px" %>サービス一覧に戻る
    </a>
</div>

<div class = "Work-show-body">
  <div class = "Work-box">
    <div class = "Work-User">
      <a href = "/users/<%= @work.user.id %>">
        <%= attachment_image_tag @work.user, :profile_image, :fill, 120, 120, format: 'jpeg',class: "Work-Profile-img img-circle", fallback: "/images/no_image.jpg" %></a>
          <div class = "Work-User-Name">
           <%= @work.user.user_name %>
          </div>
          <div class = "work_favorite_count">
            <%= image_tag "/images/heart1.png" , class: "idea_heart" , height: "21px", width: "21px" %>
            <%= @work.work_favorites.count %>いいね
          </div>
          <div class = "work_comment_count">
            <%= image_tag "/images/comment.png" , class: "idea_comment_img" , height: "21px", width: "21px" %>
            <%= @work.work_comments.count %>件
          </div>
          <div class = "work_date">
             <%= image_tag "/images/time.png" , class: "idea_time_img" , height: "21px", width: "21px" %>
             <%= @work.created_at.strftime('%m月%d日') %>
          </div>
    </div>

    <div class = "Work-User-body">
         <div class = "WorkTitle">
            <%= @work.work_title %>
         </div>

         <div class = "WorkText">
            <%= text_url_to_link(h(@work.work_text)).html_safe %>
         </div>

         <div class = "workfavorite">
         <%= render 'work_favorites/work_favorite', work: @work %>
         </div>

         <a href = "/ideas/<%= @work.idea.id %>" class = "works-idea">
             <%= image_tag "/images/mame.png" , height: "16px", width: "16px" %>
             <%= @work.idea.user.user_name %>さんのアイデア
         </a>

         <%= form_for [@idea,@work,@WorkComment] do |f| %>
           <div class = "work-comment-form">
             <%= f.text_field :work_comment, autofocus: true,placeholder: "コメントを入力",class: "work_comment_field" %>
             <%= f.submit "送信", class: "work_comment_btn" %>
           </div>
         <% end %>

         <% if @work.user.id == current_user.id %>
           <div class = "work-destroy">
             <%= image_tag "/images/gomi.png" , height: "17px", width: "17px",class: "gomi" %>
             <%= link_to "削除" , idea_work_path(:idea_id => @work.idea.id,:work_id => @work.id) , method: :delete,"data-confirm" => "本当に削除しますか？",class: "gomi2"%></div>
           <div class = "work-edit">
              <%= image_tag "/images/pen.png" ,height: "19px", width: "19px" %>
              <%= link_to "編集" , edit_idea_work_path(@work.idea.id,@work.id),class: "pen2" %></div>
           <% end %>
      </div>
  </div>

          <div class = "WorkCommentCount">
            <%= @work.work_comments.count %>コメント
          </div>
          <div class = "WorkCommentAll">
          <% @work.work_comments.each do |comment| %>
          <div class = "Work_Comments">
          <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "/images/no_image.jpg", class: "CommentUserImg img-circle" %>
          <a href = "/users/<%= comment.user_id %>"class="CommentUserName">
            <%= comment.user.user_name %>
          </a>
          <div class = "comment-comment">
            <%= text_url_to_link(h(comment.work_comment)).html_safe %>
          </div>
          <div class = "comment-time">
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <% if comment.user.id == current_user.id %>
          <%= link_to "削除",idea_work_work_comments_path(comment.work.idea.id,comment.work.id,comment.id), method: :delete, class: "work_comment_delete" %>
          </div>
          <% end %>
          <% end %>
        </div>

</div>

<%= render 'layouts/users_footer' %>