<%= render 'layouts/users_header' %>
<%= render 'layouts/users_sidebar' %>
<div class = "mypage-body">
<% @user = User.find(params[:id]) %>
<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <a href="/rooms/<%= @roomId %>" class = "newmessage">メッセージへ<%= image_tag "mail2.png" , class: "mail-img" , height: "22px", width: "22px" %></a>
  <% else %>

    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <div class = "newmessage"><%= f.submit "メッセージを送る",class: "send-message" %> <%= image_tag "mail2.png" , class: "mail-img" , height: "22px", width: "22px" %></div>
    <% end %>
  <% end %>
<% end %>

				<%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format: 'jpeg',class: "img-circle pull-left profile-image", fallback: "no_image.jpg" %>

        <div class = "Profile" style = "word-wrap: break-word;">
			  <div class = "profile-user-name">
          <%= image_tag "gray-heart.png" , class: "" , height: "16px", width: "16px" %>
          <%= @user.user_name %>
        </div>
		    <div class = "profile-user-introduction"><%= @user.introduction %></div>
      </div>

<% if @user.id == current_user.id %>
<div class = "Edit">
<%= link_to "プロフィールを編集する", edit_user_path(current_user), class: "" %>
<%= image_tag "pen.png" , class: "profile.png" , height: "17px", width: "17px" %>
</div>
<% end %>


<div class = "currentuser_ideas_text">
 投稿したアイデア
<%= @user.ideas.count %>件
</div>

<div class = "currentuser_ideas">
<% @userIdea.each do |idea| %>
<div class = "list">
  <a href = "/ideas/<%= idea.id %>" style = "color: #777;" class = "currentuser_ideas_title">
    <%= image_tag "mame.png" , class: "profile.png" , height: "20px", width: "20px", style: "margin-right: 7px; margin-left:5px;" %>
    <%= idea.idea_title %></a>
  <a href = "/ideas/<%= idea.id %>" style = "color: #777;"class = "currentuser_ideas_content">
    <%= idea.idea_text %></a>
</div>
<% end %>
</div>

<div class = "currentuser_works_text">
 制作したサービス
<%= @user.works.count %>件
</div>

<div class = "currentuser_works">
<% @userWork.each do |work| %>
<div class = "list2">
  <a href = "/ideas/<%= work.idea.id %>/works/<%= work.id %>" style = "color: #777;" class = "currentuser_works_title">
    <%= image_tag "pc.png", height: "20px", width: "20px", style: "margin-right: 7px;" %>
    <%= work.work_title %></a>
  <a href = "/ideas/<%= work.idea.id %>/works/<%= work.id %>" style = "color: #777;" class = "currentuser_works_content"><%= work.work_text %></a>
</div>
<% end %>
</div>

<% if @user.id == current_user.id %>
<div class = "user_message_title">Message <%= image_tag "white-mail.png" , class: "mail-img" , height: "25px", width: "25px" %>
</div>
<div class = "message_box">
  <% @currentUserEntry.each do |cu| %>
   <div class = "messages">
    <% @usersEntry.each do |uu| %>
      <% if cu.room_id == uu.room_id %>
        <% @messages=Message.where(room_id: uu.room_id).last(1) %>
        <% @messages.each do |message| %>
          <%= attachment_image_tag uu.user, :profile_image, :fill, 50, 50, format: 'jpeg',class: "img-circle message-img", fallback: "no_image.jpg" %>
	        <a class = "message_user_name" href = "/rooms/<%= uu.room_id %>"><%= uu.user.user_name %></a>
	          <% if message.user_id == current_user.id %>
                <a Class="CurrentMessage" href = "/rooms/<%= uu.room_id %>">あなた:　<%= message.content %></a>
                <div class = "message-time">
                <%= message.created_at.strftime('20%y年%m月%d日 %H:%M') %>
              </div>
              <% else %>
                <a Class="UserMessage" href = "/rooms/<%= uu.room_id %>"><%= message.content %></a>
                <div class = "message-time">
                  <%= message.created_at.strftime('20%y年%m月%d日 %H:%M') %>
                  </div>
          <% end %>
	      <% end %>
	    <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<%= render 'layouts/users_footer' %>